
.react-slideshow-container {
display: flex;
justify-content: center;
max-width : 1240px;


}

.react-slideshow-wrapper {
    
    height: 415px;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 25px;
}


.images-wrap div {
    height: 415px;
}

button {
    margin: 23px;
}
