

.carroussel {
     max-width : 1240px;
     width: 95%;
    height: 415px;
    margin-inline: auto;
    border-radius: 25px;
}

.carroussel .sliderStyles { 
    height: 415px;
    width: 100%;
}


.slideStyles {
    width: 100%;
display:flex;
position: relative;
height : 415px;
align-items: center;
justify-content: space-between;
flex-wrap: nowrap;
background-position: center;
background-size: cover;
}

.arrow {
font-size : 179px;
color: white;
cursor: pointer;
}

 .leftArrow {
padding-left: 23px;  
}

.rightArrow {
    padding-right: 23px;  
    }