/* ok */
.page_error {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #ff6060;
    height: 1226px;
  }

  span {
    display: flex;
    justify-content: center;
    font-size: 288px;
    font-weight: 700;
    line-height: 410px;
  }
  
  .message_erreur {
    font-size: 36px;
    margin-bottom: 190px;
  }
  
  .erreur {
    margin-bottom: 159px;
  }

  .erreur a {
    display: flex;
    font-size: 36px;
    justify-content: center;
    color: #ff6060;
  }
  
  .retour {
    font-size: 18px;
  }


  
@media screen and (max-width: 600px) {

    .page_error {
        height: 1014px;
      }
    

      span {
       font-size: 96px;
        font-weight: 700;
        line-height: 410px;
      }

}