.descriptif_corps {
    display: flex;
    max-width: 1240px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  
.descriptif_corps div{
    max-width: 582px;
    width: 100%;
    background-color: #f8eeee;
  }
    
