/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/


@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display:flex;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:#fcf7f7;
  font-family: "font-1", sans-serif;
  justify-content: center;
}
#root {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.page {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

.bandeau_nav {
  display: flex;
  height: 171px;
  margin-inline: auto;
  width: 95%;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

h2 {
  background-color: #FF6060;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 400;
}

.navigation ul {
  display: flex;
  gap: 57px;
}
.navigation ul a {
  text-decoration: none;
  padding: 10px;
}
.navigation ul a li {
  color: #FF6060;
  cursor: pointer;
}

.navigation ul .nav-active {
  position: relative;
}
.navigation ul .nav-active::after {
  content: "";
  height: 4px;
  width: 0;
  background: #FF6060;
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 0.6s ease forwards;
}
@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}

.bandeau {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  width: 95%;
  border-radius: 20px;
 
}
.bandeau_acceuil {
  height: 223px;
  background: url(../assets/img/fond_gris.png), url(../assets/img/falaise.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bandeau_about {
  height: 223px;
  background: url(../assets/img/fond_gris.png), url(../assets/img/lac.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bandeau_fichelogement {
  width: 1240px;
  height: 415px;
  background: url(../assets/img/fond_gris.png), url(../assets/img/loft.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bandeau_acceuil h1 {
  font-size: 48px;
  margin-left: 10px;
  color: rgb(243, 243, 243);
}
.container {
margin-top: 43px;
display: flex;
max-width: 1240px;
width: 95%;
padding-inline: 50px;
padding-top: 56px;
background: #f5eeee;
border-radius: 25px;
min-height: min-content;
margin-bottom: 50px;
}

.container ul {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  max-width: 1240px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.container ul .card {
width: 340px;
height: 340px;
margin-bottom: 50px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
align-items: stretch;
}

.cardlogement {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
row-gap: 50px;
background-color: #FF6060;
border-radius: 18px;
padding-top: 15px;
padding-bottom: 20px;

}
.cardlogement img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
} 

.cardlogement h3 {
  width: 100%;
color: #ffffff;
}


.bandeau_about h1 {
  font-size: 48px;
  margin-left: 10px;
  color: rgb(243, 243, 243);
}
